header
{
    height: 70px;
    width: 100%;
    background-color:white;
    border-bottom:  1px #CCCCCC solid;
}

header div
{
    background: url('../images/logo.png') no-repeat;
    height: 100%;
}
